<!DOCTYPE html>
<html>
<head>
    <title>Daftar Laporan</title>
</head>
<body>
    <h1>Selamat Datang di kota Silent Hill</h1>
    <h1>Sistem Laporan Kota</h1>

    <a href="{% url 'report_add' %}">Tambah Laporan</a>

    <h2>Daftar Laporan</h2>

    {% if reports %}
        <ul>
            {% for report in reports %}
                <li>
                    <strong>{{ report.title }}</strong><br>
                    Kategori: {{ report.category }}<br>
                    Lokasi: {{ report.location }}<br>
                    Status: {{ report.status }}<br>
                    Dibuat: {{ report.created_at }}<br><br>

                    <a href="{% url 'report_detail' report.pk %}">Detail</a>
                    <a href="{% url 'report_edit' report.pk %}">Edit</a>
                    <a href="{% url 'report_delete' report.pk %}">Delete</a>

                    <br><br>

                    {% if report.status == 'REPORTED' %}
                        <form method="post" action="{% url 'report_update_status' report.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="status" value="VERIFIED">
                            <button type="submit">Ubah ke VERIFIED</button>
                        </form>
                    {% elif report.status == 'VERIFIED' %}
                        <form method="post" action="{% url 'report_update_status' report.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="status" value="IN_PROGRESS">
                            <button type="submit">Ubah ke IN_PROGRESS</button>
                        </form>
                    {% elif report.status == 'IN_PROGRESS' %}
                        <form method="post" action="{% url 'report_update_status' report.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="status" value="RESOLVED">
                            <button type="submit">Ubah ke RESOLVED</button>
                        </form>
                    {% elif report.status == 'RESOLVED' %}
                        <p>Laporan sudah selesai.</p>
                    {% endif %}
                </li>
                <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>Belum ada laporan.</p>
    {% endif %}
</body>
</html>